@charset "utf-8";

/* 全体の基本設定 */
body {
      margin: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #fffaf3;
    color: #333;
}

/* ページ全体の中央寄せ */
header,
main,
footer {
    max-width: 940px;
    margin: 0 auto;
}

/* 画像がはみ出さないようにする */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*　フッター */
footer{
    margin-top:60px;
    padding:30px;

    background:#ffe4e1;

    border-top:3px dotted #f8caca;

    text-align:left;
}

footer ul {
    list-style: none;
}

/* ページ全体をふわっと表示 */
body {
    animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}